USE [db_upc.oftalvista]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =========================================================================================================
-- Propósito	: Retorna lista de HistorialCita
-- Creado por	: 
-- Fecha		: 27/04/2026 18:50:22
------------------------------------------------------------------------------------------------------------
-- Modificado por:
-- Fecha		:
-- Detalle		: Devuelve listado de HistorialCita
------------------------------------------------------------------------------------------------------------
--TEST: EXECUTE [USP_SEL_HISTORIALCITA] 0, 10, null, null, null, null
-- =========================================================================================================
CREATE PROCEDURE [dbo].[USP_SEL_HISTORIALCITA]
(
	@REGISTRO_INICIO_DESDE AS INT = 0,
	@REGISTROS_POR_PAGINA AS INT = 10,
	@ORDERBY	VARCHAR(50),
	@ORDERBYASCDESC VARCHAR(4),
	@ID_CITA AS NVARCHAR(250)= null,
	@ID_ESTADO_CITA AS NVARCHAR(250)= null,
	@FECHA_REGISTRO_DESDE nvarchar(50)=null,
	@FECHA_REGISTRO_HASTA nvarchar(50)=null
)
AS
BEGIN
	SET QUOTED_IDENTIFIER OFF
	SET NOCOUNT ON;

	if @FECHA_REGISTRO_DESDE is null set @FECHA_REGISTRO_DESDE = ''
	if @FECHA_REGISTRO_HASTA is null set @FECHA_REGISTRO_HASTA = GETDATE()
	if @ID_CITA is null set @ID_CITA = ''
	if @ID_ESTADO_CITA is null set @ID_ESTADO_CITA = ''

	SET NOCOUNT ON;

		SELECT
				[tbl].[NUMERO_FILA] as [ROWNUM]
				,[tbl].TOTAL_FILAS as [ROW_COUNT]
				,[tbl].TOTAL_FILAS
				,[tbl].ID_HISTORIAL_CITA
				,[tbl].ID_CITA
				,[tbl].ID_ESTADO_CITA
				,[tbl].DESCRIPCION
				,[tbl].FECHA_EVENTO
				,[tbl].ID_TBL_ESTADO_VIGENCIA
				,[tbl].GUID
				,[tbl].ES_ELIMINADO
				,format([tbl].FECHA_CREACION, 'dd/MM/yyyy', 'en-us') FECHA_REGISTRO
			FROM
			(
				SELECT
					ROW_NUMBER() OVER (ORDER BY
											CASE WHEN @ORDERBY = 'fechaRegistro' AND @ORDERBYASCDESC = 'asc' THEN h.FECHA_CREACION END ASC
											,CASE WHEN @ORDERBY = 'fechaRegistro' AND @ORDERBYASCDESC = 'desc' THEN h.FECHA_CREACION END DESC) AS [NUMERO_FILA],
					COUNT(1) OVER () AS [TOTAL_FILAS],
					h.ID_HISTORIAL_CITA,
					h.ID_CITA,
					h.ID_ESTADO_CITA,
					h.DESCRIPCION,
					h.FECHA_EVENTO,
					h.ID_TBL_ESTADO_VIGENCIA,
					h.GUID,
					h.ES_ELIMINADO,
					h.FECHA_CREACION
				FROM [transaccional].[historial_cita] h
					WHERE
						(@ID_CITA = '' OR h.ID_CITA IN (SELECT VALOR FROM [dbo].[USF_CADENA_A_TABLA_INT](@ID_CITA)))
						AND (@ID_ESTADO_CITA = '' OR h.ID_ESTADO_CITA IN (SELECT VALOR FROM [dbo].[USF_CADENA_A_TABLA_INT](@ID_ESTADO_CITA)))
						AND ( 							(@FECHA_REGISTRO_DESDE <> '' AND h.FECHA_CREACION  between  CAST(@FECHA_REGISTRO_DESDE  As datetime2 ) AND DATEADD(DAY,1,CAST(@FECHA_REGISTRO_HASTA AS datetime2)))						OR							(@FECHA_REGISTRO_DESDE = '' AND h.FECHA_CREACION <DATEADD(DAY,1,CAST(@FECHA_REGISTRO_HASTA AS datetime2)))						AND h.ES_ELIMINADO = 0
			) [tbl]
			WHERE (
			@REGISTROS_POR_PAGINA = 0 OR([NUMERO_FILA] BETWEEN (@REGISTRO_INICIO_DESDE+1) AND (@REGISTRO_INICIO_DESDE + @REGISTROS_POR_PAGINA))
			);

	SET NOCOUNT OFF;
END
