USE [db_upc.oftalvista]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =========================================================================================================
-- Propósito	: Retorna lista de AgendaMedica
-- Creado por	: 
-- Fecha		: 27/04/2026 18:50:09
------------------------------------------------------------------------------------------------------------
-- Modificado por:
-- Fecha		:
-- Detalle		: Devuelve listado de AgendaMedica
------------------------------------------------------------------------------------------------------------
--TEST: EXECUTE [USP_SEL_AGENDAMEDICA] 0, 10, null, null, null, null
-- =========================================================================================================
CREATE PROCEDURE [dbo].[USP_SEL_AGENDAMEDICA]
(
	@REGISTRO_INICIO_DESDE AS INT = 0,
	@REGISTROS_POR_PAGINA AS INT = 10,
	@ORDERBY	VARCHAR(50),
	@ORDERBYASCDESC VARCHAR(4),
	@ID_MEDICO AS NVARCHAR(250)= null,
	@FECHA AS NVARCHAR(250)= null,
	@FECHA_REGISTRO_DESDE nvarchar(50)=null,
	@FECHA_REGISTRO_HASTA nvarchar(50)=null
)
AS
BEGIN
	SET QUOTED_IDENTIFIER OFF
	SET NOCOUNT ON;

	if @FECHA_REGISTRO_DESDE is null set @FECHA_REGISTRO_DESDE = ''
	if @FECHA_REGISTRO_HASTA is null set @FECHA_REGISTRO_HASTA = GETDATE()
	if @ID_MEDICO is null set @ID_MEDICO = ''
	if @FECHA is null set @FECHA = ''

	SET NOCOUNT ON;

		SELECT
				[tbl].[NUMERO_FILA] as [ROWNUM]
				,[tbl].TOTAL_FILAS as [ROW_COUNT]
				,[tbl].TOTAL_FILAS
				,[tbl].ID_AGENDA_MEDICA
				,[tbl].ID_MEDICO
				,[tbl].FECHA
				,[tbl].HORA_INICIO
				,[tbl].HORA_FIN
				,[tbl].ES_DISPONIBLE
				,[tbl].OBSERVACION
				,[tbl].ID_TBL_ESTADO_VIGENCIA
				,[tbl].GUID
				,[tbl].ES_ELIMINADO
				,format([tbl].FECHA_CREACION, 'dd/MM/yyyy', 'en-us') FECHA_REGISTRO
			FROM
			(
				SELECT
					ROW_NUMBER() OVER (ORDER BY
											CASE WHEN @ORDERBY = 'fechaRegistro' AND @ORDERBYASCDESC = 'asc' THEN a.FECHA_CREACION END ASC
											,CASE WHEN @ORDERBY = 'fechaRegistro' AND @ORDERBYASCDESC = 'desc' THEN a.FECHA_CREACION END DESC) AS [NUMERO_FILA],
					COUNT(1) OVER () AS [TOTAL_FILAS],
					a.ID_AGENDA_MEDICA,
					a.ID_MEDICO,
					a.FECHA,
					a.HORA_INICIO,
					a.HORA_FIN,
					a.ES_DISPONIBLE,
					a.OBSERVACION,
					a.ID_TBL_ESTADO_VIGENCIA,
					a.GUID,
					a.ES_ELIMINADO,
					a.FECHA_CREACION
				FROM [transaccional].[agenda_medica] a
					WHERE
						(@ID_MEDICO = '' OR a.ID_MEDICO IN (SELECT VALOR FROM [dbo].[USF_CADENA_A_TABLA_INT](@ID_MEDICO)))
						AND (@FECHA = '' OR a.FECHA IN (SELECT VALOR FROM [dbo].[USF_CADENA_A_TABLA_INT](@FECHA)))
						AND ( 							(@FECHA_REGISTRO_DESDE <> '' AND a.FECHA_CREACION  between  CAST(@FECHA_REGISTRO_DESDE  As datetime2 ) AND DATEADD(DAY,1,CAST(@FECHA_REGISTRO_HASTA AS datetime2)))						OR							(@FECHA_REGISTRO_DESDE = '' AND a.FECHA_CREACION <DATEADD(DAY,1,CAST(@FECHA_REGISTRO_HASTA AS datetime2)))						AND a.ES_ELIMINADO = 0
			) [tbl]
			WHERE (
			@REGISTROS_POR_PAGINA = 0 OR([NUMERO_FILA] BETWEEN (@REGISTRO_INICIO_DESDE+1) AND (@REGISTRO_INICIO_DESDE + @REGISTROS_POR_PAGINA))
			);

	SET NOCOUNT OFF;
END
