USE [db_upc.oftalvista]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =========================================================================================================
-- Propósito	: Retorna lista de Medico
-- Creado por	: 
-- Fecha		: 27/04/2026 18:49:50
------------------------------------------------------------------------------------------------------------
-- Modificado por:
-- Fecha		:
-- Detalle		: Devuelve listado de Medico
------------------------------------------------------------------------------------------------------------
--TEST: EXECUTE [USP_SEL_MEDICO] 0, 10, null, null, null, null, null
-- =========================================================================================================
CREATE PROCEDURE [dbo].[USP_SEL_MEDICO]
(
	@REGISTRO_INICIO_DESDE AS INT = 0,
	@REGISTROS_POR_PAGINA AS INT = 10,
	@ORDERBY	VARCHAR(50),
	@ORDERBYASCDESC VARCHAR(4),
	@ID_USUARIO AS NVARCHAR(250)= null,
	@ID_ESPECIALIDAD_MEDICA AS NVARCHAR(250)= null,
	@CMP AS NVARCHAR(250)= null,
	@FECHA_REGISTRO_DESDE nvarchar(50)=null,
	@FECHA_REGISTRO_HASTA nvarchar(50)=null
)
AS
BEGIN
	SET QUOTED_IDENTIFIER OFF
	SET NOCOUNT ON;

	if @FECHA_REGISTRO_DESDE is null set @FECHA_REGISTRO_DESDE = ''
	if @FECHA_REGISTRO_HASTA is null set @FECHA_REGISTRO_HASTA = GETDATE()
	if @ID_USUARIO is null set @ID_USUARIO = ''
	if @ID_ESPECIALIDAD_MEDICA is null set @ID_ESPECIALIDAD_MEDICA = ''
	if @CMP is null set @CMP = ''

	SET NOCOUNT ON;

		SELECT
				[tbl].[NUMERO_FILA] as [ROWNUM]
				,[tbl].TOTAL_FILAS as [ROW_COUNT]
				,[tbl].TOTAL_FILAS
				,[tbl].ID_MEDICO
				,[tbl].ID_USUARIO
				,[tbl].ID_ESPECIALIDAD_MEDICA
				,[tbl].CMP
				,[tbl].PERFIL_PROFESIONAL
				,[tbl].ID_TBL_ESTADO_VIGENCIA
				,[tbl].GUID
				,[tbl].ES_ELIMINADO
				,format([tbl].FECHA_CREACION, 'dd/MM/yyyy', 'en-us') FECHA_REGISTRO
			FROM
			(
				SELECT
					ROW_NUMBER() OVER (ORDER BY
											CASE WHEN @ORDERBY = 'fechaRegistro' AND @ORDERBYASCDESC = 'asc' THEN m.FECHA_CREACION END ASC
											,CASE WHEN @ORDERBY = 'fechaRegistro' AND @ORDERBYASCDESC = 'desc' THEN m.FECHA_CREACION END DESC) AS [NUMERO_FILA],
					COUNT(1) OVER () AS [TOTAL_FILAS],
					m.ID_MEDICO,
					m.ID_USUARIO,
					m.ID_ESPECIALIDAD_MEDICA,
					m.CMP,
					m.PERFIL_PROFESIONAL,
					m.ID_TBL_ESTADO_VIGENCIA,
					m.GUID,
					m.ES_ELIMINADO,
					m.FECHA_CREACION
				FROM [maestro].[medico] m
					WHERE
						(@ID_USUARIO = '' OR m.ID_USUARIO IN (SELECT VALOR FROM [dbo].[USF_CADENA_A_TABLA_INT](@ID_USUARIO)))
						AND (@ID_ESPECIALIDAD_MEDICA = '' OR m.ID_ESPECIALIDAD_MEDICA IN (SELECT VALOR FROM [dbo].[USF_CADENA_A_TABLA_INT](@ID_ESPECIALIDAD_MEDICA)))
						AND (@CMP = '' OR m.CMP IN (SELECT VALOR FROM [dbo].[USF_CADENA_A_TABLA_VARCHAR](@CMP)))
						AND ( 							(@FECHA_REGISTRO_DESDE <> '' AND m.FECHA_CREACION  between  CAST(@FECHA_REGISTRO_DESDE  As datetime2 ) AND DATEADD(DAY,1,CAST(@FECHA_REGISTRO_HASTA AS datetime2)))						OR							(@FECHA_REGISTRO_DESDE = '' AND m.FECHA_CREACION <DATEADD(DAY,1,CAST(@FECHA_REGISTRO_HASTA AS datetime2)))						AND m.ES_ELIMINADO = 0
			) [tbl]
			WHERE (
			@REGISTROS_POR_PAGINA = 0 OR([NUMERO_FILA] BETWEEN (@REGISTRO_INICIO_DESDE+1) AND (@REGISTRO_INICIO_DESDE + @REGISTROS_POR_PAGINA))
			);

	SET NOCOUNT OFF;
END
