USE [db_upc.oftalvista]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =========================================================================================================
-- Propósito	: Retorna lista de Cita
-- Creado por	: 
-- Fecha		: 27/04/2026 18:50:16
------------------------------------------------------------------------------------------------------------
-- Modificado por:
-- Fecha		:
-- Detalle		: Devuelve listado de Cita
------------------------------------------------------------------------------------------------------------
--TEST: EXECUTE [USP_SEL_CITA] 0, 10, null, null, null, null
-- =========================================================================================================
CREATE PROCEDURE [dbo].[USP_SEL_CITA]
(
	@REGISTRO_INICIO_DESDE AS INT = 0,
	@REGISTROS_POR_PAGINA AS INT = 10,
	@ORDERBY	VARCHAR(50),
	@ORDERBYASCDESC VARCHAR(4),
	@ID_PACIENTE AS NVARCHAR(250)= null,
	@ID_MEDICO AS NVARCHAR(250)= null,
	@FECHA_REGISTRO_DESDE nvarchar(50)=null,
	@FECHA_REGISTRO_HASTA nvarchar(50)=null
)
AS
BEGIN
	SET QUOTED_IDENTIFIER OFF
	SET NOCOUNT ON;

	if @FECHA_REGISTRO_DESDE is null set @FECHA_REGISTRO_DESDE = ''
	if @FECHA_REGISTRO_HASTA is null set @FECHA_REGISTRO_HASTA = GETDATE()
	if @ID_PACIENTE is null set @ID_PACIENTE = ''
	if @ID_MEDICO is null set @ID_MEDICO = ''

	SET NOCOUNT ON;

		SELECT
				[tbl].[NUMERO_FILA] as [ROWNUM]
				,[tbl].TOTAL_FILAS as [ROW_COUNT]
				,[tbl].TOTAL_FILAS
				,[tbl].ID_CITA
				,[tbl].ID_PACIENTE
				,[tbl].ID_MEDICO
				,[tbl].ID_AGENDA_MEDICA
				,[tbl].ID_ESTADO_CITA
				,[tbl].ID_MODALIDAD_CITA
				,[tbl].MOTIVO
				,[tbl].FECHA_CITA
				,[tbl].HORA_CITA
				,[tbl].OBSERVACION
				,[tbl].ID_TBL_ESTADO_VIGENCIA
				,[tbl].GUID
				,[tbl].ES_ELIMINADO
				,format([tbl].FECHA_CREACION, 'dd/MM/yyyy', 'en-us') FECHA_REGISTRO
			FROM
			(
				SELECT
					ROW_NUMBER() OVER (ORDER BY
											CASE WHEN @ORDERBY = 'fechaRegistro' AND @ORDERBYASCDESC = 'asc' THEN c.FECHA_CREACION END ASC
											,CASE WHEN @ORDERBY = 'fechaRegistro' AND @ORDERBYASCDESC = 'desc' THEN c.FECHA_CREACION END DESC) AS [NUMERO_FILA],
					COUNT(1) OVER () AS [TOTAL_FILAS],
					c.ID_CITA,
					c.ID_PACIENTE,
					c.ID_MEDICO,
					c.ID_AGENDA_MEDICA,
					c.ID_ESTADO_CITA,
					c.ID_MODALIDAD_CITA,
					c.MOTIVO,
					c.FECHA_CITA,
					c.HORA_CITA,
					c.OBSERVACION,
					c.ID_TBL_ESTADO_VIGENCIA,
					c.GUID,
					c.ES_ELIMINADO,
					c.FECHA_CREACION
				FROM [transaccional].[cita] c
					WHERE
						(@ID_PACIENTE = '' OR c.ID_PACIENTE IN (SELECT VALOR FROM [dbo].[USF_CADENA_A_TABLA_INT](@ID_PACIENTE)))
						AND (@ID_MEDICO = '' OR c.ID_MEDICO IN (SELECT VALOR FROM [dbo].[USF_CADENA_A_TABLA_INT](@ID_MEDICO)))
						AND ( 							(@FECHA_REGISTRO_DESDE <> '' AND c.FECHA_CREACION  between  CAST(@FECHA_REGISTRO_DESDE  As datetime2 ) AND DATEADD(DAY,1,CAST(@FECHA_REGISTRO_HASTA AS datetime2)))						OR							(@FECHA_REGISTRO_DESDE = '' AND c.FECHA_CREACION <DATEADD(DAY,1,CAST(@FECHA_REGISTRO_HASTA AS datetime2)))						AND c.ES_ELIMINADO = 0
			) [tbl]
			WHERE (
			@REGISTROS_POR_PAGINA = 0 OR([NUMERO_FILA] BETWEEN (@REGISTRO_INICIO_DESDE+1) AND (@REGISTRO_INICIO_DESDE + @REGISTROS_POR_PAGINA))
			);

	SET NOCOUNT OFF;
END
