USE [db_upc.oftalvista]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =========================================================================================================
-- Propósito	: Retorna lista de PagoCita
-- Creado por	: 
-- Fecha		: 27/04/2026 18:50:31
------------------------------------------------------------------------------------------------------------
-- Modificado por:
-- Fecha		:
-- Detalle		: Devuelve listado de PagoCita
------------------------------------------------------------------------------------------------------------
--TEST: EXECUTE [USP_SEL_PAGOCITA] 0, 10, null, null, null
-- =========================================================================================================
CREATE PROCEDURE [dbo].[USP_SEL_PAGOCITA]
(
	@REGISTRO_INICIO_DESDE AS INT = 0,
	@REGISTROS_POR_PAGINA AS INT = 10,
	@ORDERBY	VARCHAR(50),
	@ORDERBYASCDESC VARCHAR(4),
	@ID_CITA AS NVARCHAR(250)= null,
	@FECHA_REGISTRO_DESDE nvarchar(50)=null,
	@FECHA_REGISTRO_HASTA nvarchar(50)=null
)
AS
BEGIN
	SET QUOTED_IDENTIFIER OFF
	SET NOCOUNT ON;

	if @FECHA_REGISTRO_DESDE is null set @FECHA_REGISTRO_DESDE = ''
	if @FECHA_REGISTRO_HASTA is null set @FECHA_REGISTRO_HASTA = GETDATE()
	if @ID_CITA is null set @ID_CITA = ''

	SET NOCOUNT ON;

		SELECT
				[tbl].[NUMERO_FILA] as [ROWNUM]
				,[tbl].TOTAL_FILAS as [ROW_COUNT]
				,[tbl].TOTAL_FILAS
				,[tbl].ID_PAGO_CITA
				,[tbl].ID_CITA
				,[tbl].ID_METODO_PAGO
				,[tbl].ID_ESTADO_PAGO
				,[tbl].MONTO
				,[tbl].FECHA_PAGO
				,[tbl].NUMERO_OPERACION
				,[tbl].COMPROBANTE
				,[tbl].ID_TBL_ESTADO_VIGENCIA
				,[tbl].GUID
				,[tbl].ES_ELIMINADO
				,format([tbl].FECHA_CREACION, 'dd/MM/yyyy', 'en-us') FECHA_REGISTRO
			FROM
			(
				SELECT
					ROW_NUMBER() OVER (ORDER BY
											CASE WHEN @ORDERBY = 'fechaRegistro' AND @ORDERBYASCDESC = 'asc' THEN p.FECHA_CREACION END ASC
											,CASE WHEN @ORDERBY = 'fechaRegistro' AND @ORDERBYASCDESC = 'desc' THEN p.FECHA_CREACION END DESC) AS [NUMERO_FILA],
					COUNT(1) OVER () AS [TOTAL_FILAS],
					p.ID_PAGO_CITA,
					p.ID_CITA,
					p.ID_METODO_PAGO,
					p.ID_ESTADO_PAGO,
					p.MONTO,
					p.FECHA_PAGO,
					p.NUMERO_OPERACION,
					p.COMPROBANTE,
					p.ID_TBL_ESTADO_VIGENCIA,
					p.GUID,
					p.ES_ELIMINADO,
					p.FECHA_CREACION
				FROM [transaccional].[pago_cita] p
					WHERE
						(@ID_CITA = '' OR p.ID_CITA IN (SELECT VALOR FROM [dbo].[USF_CADENA_A_TABLA_INT](@ID_CITA)))
						AND ( 							(@FECHA_REGISTRO_DESDE <> '' AND p.FECHA_CREACION  between  CAST(@FECHA_REGISTRO_DESDE  As datetime2 ) AND DATEADD(DAY,1,CAST(@FECHA_REGISTRO_HASTA AS datetime2)))						OR							(@FECHA_REGISTRO_DESDE = '' AND p.FECHA_CREACION <DATEADD(DAY,1,CAST(@FECHA_REGISTRO_HASTA AS datetime2)))						AND p.ES_ELIMINADO = 0
			) [tbl]
			WHERE (
			@REGISTROS_POR_PAGINA = 0 OR([NUMERO_FILA] BETWEEN (@REGISTRO_INICIO_DESDE+1) AND (@REGISTRO_INICIO_DESDE + @REGISTROS_POR_PAGINA))
			);

	SET NOCOUNT OFF;
END
