USE [db_upc.oftalvista]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =========================================================================================================
-- Propósito	: Retorna lista de Usuario
-- Creado por	: 
-- Fecha		: 27/04/2026 18:50:02
------------------------------------------------------------------------------------------------------------
-- Modificado por:
-- Fecha		:
-- Detalle		: Devuelve listado de Usuario
------------------------------------------------------------------------------------------------------------
--TEST: EXECUTE [USP_SEL_USUARIO] 0, 10, null, null, null, null, null
-- =========================================================================================================
CREATE PROCEDURE [dbo].[USP_SEL_USUARIO]
(
	@REGISTRO_INICIO_DESDE AS INT = 0,
	@REGISTROS_POR_PAGINA AS INT = 10,
	@ORDERBY	VARCHAR(50),
	@ORDERBYASCDESC VARCHAR(4),
	@ID_TIPO_USUARIO AS NVARCHAR(250)= null,
	@ID_TIPO_DOCUMENTO AS NVARCHAR(250)= null,
	@NUMERO_DOCUMENTO AS NVARCHAR(250)= null,
	@FECHA_REGISTRO_DESDE nvarchar(50)=null,
	@FECHA_REGISTRO_HASTA nvarchar(50)=null
)
AS
BEGIN
	SET QUOTED_IDENTIFIER OFF
	SET NOCOUNT ON;

	if @FECHA_REGISTRO_DESDE is null set @FECHA_REGISTRO_DESDE = ''
	if @FECHA_REGISTRO_HASTA is null set @FECHA_REGISTRO_HASTA = GETDATE()
	if @ID_TIPO_USUARIO is null set @ID_TIPO_USUARIO = ''
	if @ID_TIPO_DOCUMENTO is null set @ID_TIPO_DOCUMENTO = ''
	if @NUMERO_DOCUMENTO is null set @NUMERO_DOCUMENTO = ''

	SET NOCOUNT ON;

		SELECT
				[tbl].[NUMERO_FILA] as [ROWNUM]
				,[tbl].TOTAL_FILAS as [ROW_COUNT]
				,[tbl].TOTAL_FILAS
				,[tbl].ID_USUARIO
				,[tbl].ID_TIPO_USUARIO
				,[tbl].ID_TIPO_DOCUMENTO
				,[tbl].NUMERO_DOCUMENTO
				,[tbl].NOMBRES
				,[tbl].APELLIDOS
				,[tbl].CORREO
				,[tbl].CLAVE_HASH
				,[tbl].TELEFONO
				,[tbl].ID_TBL_ESTADO_VIGENCIA
				,[tbl].GUID
				,[tbl].ES_ELIMINADO
				,format([tbl].FECHA_CREACION, 'dd/MM/yyyy', 'en-us') FECHA_REGISTRO
			FROM
			(
				SELECT
					ROW_NUMBER() OVER (ORDER BY
											CASE WHEN @ORDERBY = 'fechaRegistro' AND @ORDERBYASCDESC = 'asc' THEN u.FECHA_CREACION END ASC
											,CASE WHEN @ORDERBY = 'fechaRegistro' AND @ORDERBYASCDESC = 'desc' THEN u.FECHA_CREACION END DESC) AS [NUMERO_FILA],
					COUNT(1) OVER () AS [TOTAL_FILAS],
					u.ID_USUARIO,
					u.ID_TIPO_USUARIO,
					u.ID_TIPO_DOCUMENTO,
					u.NUMERO_DOCUMENTO,
					u.NOMBRES,
					u.APELLIDOS,
					u.CORREO,
					u.CLAVE_HASH,
					u.TELEFONO,
					u.ID_TBL_ESTADO_VIGENCIA,
					u.GUID,
					u.ES_ELIMINADO,
					u.FECHA_CREACION
				FROM [maestro].[usuario] u
					WHERE
						(@ID_TIPO_USUARIO = '' OR u.ID_TIPO_USUARIO IN (SELECT VALOR FROM [dbo].[USF_CADENA_A_TABLA_INT](@ID_TIPO_USUARIO)))
						AND (@ID_TIPO_DOCUMENTO = '' OR u.ID_TIPO_DOCUMENTO IN (SELECT VALOR FROM [dbo].[USF_CADENA_A_TABLA_INT](@ID_TIPO_DOCUMENTO)))
						AND (@NUMERO_DOCUMENTO = '' OR u.NUMERO_DOCUMENTO IN (SELECT VALOR FROM [dbo].[USF_CADENA_A_TABLA_VARCHAR](@NUMERO_DOCUMENTO)))
						AND ( 							(@FECHA_REGISTRO_DESDE <> '' AND u.FECHA_CREACION  between  CAST(@FECHA_REGISTRO_DESDE  As datetime2 ) AND DATEADD(DAY,1,CAST(@FECHA_REGISTRO_HASTA AS datetime2)))						OR							(@FECHA_REGISTRO_DESDE = '' AND u.FECHA_CREACION <DATEADD(DAY,1,CAST(@FECHA_REGISTRO_HASTA AS datetime2)))						AND u.ES_ELIMINADO = 0
			) [tbl]
			WHERE (
			@REGISTROS_POR_PAGINA = 0 OR([NUMERO_FILA] BETWEEN (@REGISTRO_INICIO_DESDE+1) AND (@REGISTRO_INICIO_DESDE + @REGISTROS_POR_PAGINA))
			);

	SET NOCOUNT OFF;
END
